$color_1: #FF6060

.conteneur_erreur
  color: $color_1
  display: flex
  flex-direction: column
  align-items: center

  h1
    font-size: 288px
    margin: 2%

  p
    font-size: 36px

  a
    padding: 8%
    text-decoration: none
    font-size: 20px
    &:visited
      color: $color_1
