// Variables de style
$color-primary: #FF6060
$font-size-large: 25px
$font-size-small: 15px
$mobile-break: 975px

// Styles du conteneur de l'en-tête
.conteneur_header 
  display: flex
  flex-wrap: nowrap
  flex-direction: row
  justify-content: space-between
  padding: 0 5% 0 8%
  margin-top: 2%


nav 
  display: flex
  flex-wrap: nowrap
  flex-direction: row
  justify-content: space-between
  align-items: center
  font-size: $font-size-large
  font-weight: bold

  a 
    text-decoration: none  
    color: $color-primary       

    &:visited 
      color: $color-primary

  span.underline 
    height: 2px
    background-color: $color-primary
    display: block


  a[href="/"] 
    position: relative
    right: 25%


// Mobiles
@media all and (max-width: $mobile-break) 
  nav
    font-size: $font-size-small
    font-weight: bolder
  
  img
    width: 70%