$couleur-principale: #FF6060
$couleur-secondaire: white
$rayon-bordure: 40px
$rayon-bordure-petit: 5px
$marge-horizontale: 8%
$padding-horizontale: 10%
$marge-mobile: 20px

.conteneur_ensemble
  display: flex
  flex-direction: column
  margin: 0 $marge-horizontale

.head
  display: flex
  justify-content: space-between
  align-items: center

.title_emplacement
  .title
    color: $couleur-principale
    font-size: 2em 
  .localisation
    color: $couleur-principale

// Ajout de la propriété 'display: flex;' pour aligner conteneur_1 et conteneur_2 côte à côte
.conteneur_ensemble .conteneur_1_and_2
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  width: 100% // Utilisez toute la largeur disponible

.conteneur_1,
.conteneur_2
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 48% // Utilisez environ la moitié de la largeur pour chaque conteneur

.conteneur_2
  align-items: flex-end

  .hote_et_nom
    display: flex
    flex-direction: row-reverse
    align-items: center
    justify-content: flex-end

    .nom_hote
      color: $couleur-principale
      margin-right: 10px

    .photo_hote
      width: 100px 
      height: 100px 
      border-radius: 50% 
      margin-bottom: 10px

  .stars
    display: flex
    justify-content: flex-end
    margin-top: 10px

.tags
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  margin-top: 20px
  .tag
    background-color: $couleur-principale
    color: $couleur-secondaire
    border-radius: $rayon-bordure-petit
    margin: 0 5px 5px 0
    padding: 5px 10px

.container_collapse_house
  margin-top: 20px
