$btn-color: white
$carousel-border-radius: 20px
$margin-horizontal: 8%
$btn-font-size: 500%
$btn-top-position: 55% 

.img_carrousel 
  width: 100%
  height: 400px
  margin-top: 3%
  object-fit: cover
  border-radius: $carousel-border-radius


.margin_page 
  position: relative 
  margin-left: $margin-horizontal
  margin-right: $margin-horizontal


.btn_carrousel_prev, .btn_carrousel_next 
  background-color: inherit
  color: $btn-color
  position: absolute
  top: $btn-top-position
  font-size: $btn-font-size
  cursor: pointer
  transform: translateY(-45%)

  img
    width: 80px 


.btn_carrousel_prev 
  left: 0 


.btn_carrousel_next 
  right: 0 

.index_image 
  position: absolute
  bottom: -2px 
  left: 50%
  transform: translateX(-50%)
  color: $btn-color
  font-size: 20px 


@media all and (max-width: 975px) 
  .img_carrousel 
    width: 100%
    height: 200px 

  .btn_carrousel_prev, .btn_carrousel_next 
    background-color: inherit
    color: $btn-color
    position: absolute
    top: $btn-top-position
    font-size: $btn-font-size
    cursor: pointer
    transform: translateY(-45%)
    img
      width: 70px 

  .index_image 
    display: none
  
